html
    head
        title Index
        link(rel='stylesheet', href='../css/index.css')
    body
        div.rotate

        form
            input(value='username')
            input(value='password')
            input.btn(value='submit' type='button')

        script(src='../js/common.js')
        script(src='../js/index.js')
